/* CSS Document */
ul,li,dl,dt,dd,ol{ list-style-type:none; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,form,input,textarea,label,table,tr,td,p,header,article,footer,nav,section,aside,menu{margin:0; padding:0;}
header,article,footer,nav,section,aside,menu{ display:block;}
table{ border-collapse:collapse; border-spacing:0;}
img{ border:none;}
a:link{color:#168dd9;text-decoration:none;outline:none;}
a:active,a:visited{color:#168dd9; text-decoration:none;}
a:hover { color:#e05a63;}
body{ margin:0;padding:0;font:14px/22px Microsoft Yahei;/* font-size:1em; line-height:1.571em;*/ min-width:320px;}
.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:both; font-size:0; line-height:0; height:0; width:100%; overflow:hidden;}
.fix:after {display: block;font-size: 0;content:""; clear: both; height: 0;}
.fix{*zoom:1;}
.bg{ background:#F5F5F5;}
/**============ Reset End ===========**/
.navbar{background:#339ee2;}
.navbar .ico-home,.navbar .ico-nav{float:left;width:20%;height:100px;overflow:hidden;text-indent:-9999em;background:url(../images/ico-home.png) center center no-repeat;}
.navbar .ico-nav{float:right;background:url(../images/ico-nav.png) center center no-repeat;}
.navbar #title{float:left;width:58%;height:100px;margin:0 1%;font-size:3.142em;font-weight:normal;color:#fff;line-height:100px;text-align:center;overflow:hidden;-webkit-transition:font-size 0.2s ease-out; -o-transition:font-size 0.2s ease-out; -moz-transition:font-size 0.2s ease-out;transition:font-size 0.2s ease-out;}

/**============= 弹出导航菜单 =========**/
#nav-over{position:fixed;left:0;top:0;z-index:9998;display:none;width:100%;height:100%;}
.warmp{position:relative;right:0;z-index:1;-webkit-transition:all .5s ease;transition:all .5s ease;}
.nav{position:fixed;top:0;right:-480px;z-index:9999;width:480px;height:100%;background:#393939;-webkit-transition:all .5s ease;transition:all .5s ease;}
.openMenu{right:480px;-webkit-transition:all .5s ease;transition:all .5s ease;}
.openNav{right:0;-webkit-transition:all .5s ease;transition:all .5s ease;}
.nav h3{padding:65px 0 30px 25px;font-size:3.142em;font-weight:normal;color:#fff;line-height:50px;}
.nav h3 a { color:#fff;}
.scrollerBox{ position:relative;overflow:scroll;overflow-x:hidden;overflow-y:scroll;-ms-touch-action: none;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;}
.scroller {position: absolute;width:100%;padding:0 0 100px 0;cursor:move;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);}
/**============= 分类导航菜单 ========================**/
.nav ul li a{display:block;height:90px; overflow:hidden;padding:0 0 0 24px;line-height:90px;color:#dcdcdc;font-size:2em;border-bottom:1px solid #272727;background:url(../images/nav.png) no-repeat  right center;text-indent:0.3em;}

/**============ 栏目幻灯 ==============**/
.tab-news,.tab-size,.tab-xinqing,.tab-di{margin:26px 0 0 0;}
.tab-hd-index{background:#339ee2;}
.tab-hd-index ul{width:99.99%;margin:0 auto;}
.tab-hd-index li{float:left;width:33.33%;height:90px;text-align:center;color:#fff;font-size:2.285em;line-height:90px}
.tab-hd-index li.on {color:#ffffff;background:#168dd9;}
.tab-news-con .list-index,.tab-size-con .list-index,.tab-xinqing-con .list-index,.tab-di-con .list-index{ display:none;}
.tab-news-con .active,.tab-size-con .active,.tab-di-con .active,.tab-xinqing-con .active{ display:block;}
.list-index li{overflow:hidden;clear:both;padding:0 2.46875% 0 4.6875%;border-bottom:1px solid #E9E9E9;}
.list-index li:last-child{border:none;}
.list-index li a{ float:left;width:99%;height:100px;overflow:hidden;font-size:2.142em;line-height:100px;background:url(../images/ico-tel.png) right center no-repeat;/*text-overflow:ellipsis; white-space:nowrap;*/}
.tab-news-con .more,.tab-size-con .more,.tab-di-con .more,.tab-xinqing-con .more{ clear:both; display:block;height:35px;text-align:center;font-size:1.5em;line-height:35px;background:url(../images/line_more.gif) center center no-repeat; margin-bottom:20px;}

/**========== 底部栏目按钮 ============**/
.about{overflow:hidden;}
.about li a{height:75px;line-height:75px;background:#fff;transition:all 0.3s ease-in-out;}
.about li a:focus,.about li a:active{background:#339EE2;color:#fff;box-shadow:0 0 5px rgba(51,158,226,0.5);border:1px solid #339EE2;transition:all 0.3s ease-in-out;}
.list-pic-index ul{overflow:hidden;padding:20px 0;}
.list-pic-index li{float:left;width:50%;margin:2% 0;}
.list-pic-index li a{display:block;width:180px;height: auto; padding:20px 16px;margin:0 auto; white-space:nowrap; overflow:hidden;font-size:1.7em;line-height:39px;vertical-align:middle;color:#414040;text-align:center;border:1px solid #bbbbbb;border-radius:10px;}

/**============ 底部版权 ==============**/
.copyright{text-align:center;margin:3em 0;font-size:1em; line-height:1.6em;color:#999;}
.copyright a{color:#999;}
#gotop{display:none;position:fixed;z-index:777;width:82px;height:110px;right:10px;bottom:130px;background:url(../images/top.png) no-repeat;cursor:pointer;}
/**============ 内容页CSS =============**/
.dh{font-size:1.714em;height:2.5em;line-height:2.5em; text-indent:1.5em; margin:0.5em 1.2em 0.5em 1.2em; background:#f5f5f5;border-radius:0.5em; white-space:nowrap; overflow:hidden;}
.dh a{ font-weight:bold; text-decoration:none;font-size:1em;}
.article{text-indent: 1.6em; padding:10; font-size:2em;line-height:1.8em;}
.article .hd{font-size:1.3em;font-weight:normal;text-align:center;}
.article .meta,.article .meta A{padding:1em 0.833em 0 0.833em;font-size:0.857em;color:#9c9c9c;text-align:center;}
.article .meta A{font-size:1em; color:#FF9933; padding:0; margin:0;}
.article .article-con{margin:0.8em 0.833em 0 0.833em;}
.article .article-con img{width:95%;height:auto;max-width:600px;}

/*分页*/
.pagelist{ text-align:center; display:block; font-size:0; line-height:0; margin:0; padding:8px 8px; }
.pagelist li{ list-style:none; display:inline-block; height:32px; line-height:32px; padding:0 10px; font-size:15px; border:1px solid #ccc; margin:0 2px; margin-bottom:5px;}
.pagelist li.thisclass{ border:1px solid #396A4F; background:#6F46B9; font-weight:bold; color:#fff;}
.pagelist li.thisclass a{ color:#fff; font-weight:bold;}

.mgg { clear:both; text-align:center; padding-top:10px; margin:10 auto;}

A.nei:link,A.nei:visited { COLOR: #007acc;}
A.nei:hover,A.nei:active { COLOR: #FD5151;}

/**============= 分类页CSS =============**/
.articlelist { border-top:1px dotted #CCCCCC; border-bottom:1px dotted #CCCCCC;}
.showpage { height:3em; clear:both;padding-top:1em; margin:0.5em 0; text-align:center;font-size:1em; color:#666; white-space:nowrap; overflow:hidden;}
.showpage a{font-size:1em;padding:4px 8px 3px; line-height:1.5em; height:1.5em; text-align:left; color:#000; border:1px solid #ccc;text-decoration:none; background:#fff; margin:0 5px;blr:expression(this.onFocus=this.blur());outline:none;}
.showpage a:hover{color:#f80; border:1px solid #f80; text-decoration:underline}
.showpage a:focus{-moz-outline-style: none;}
.showpage a.active{ color:#fff; background:#f80; font-size:1em; border:0;}

/**================= 当手机浏览器时 ==================**/
@media screen and (max-width: 639px){
	.navbar .ico-home,.navbar .ico-nav{height:50px;background-size:29.5px 24.5px;}
	.navbar .ico-nav{background-size:24.5px 21.5px;}
	.navbar #title{height:50px;font-size:1.571em;line-height:50px;}	
	.header .description{height:29px;font-size:0.9em;line-height:29px;}	
	.header .description span{padding:2px 5px;color:#ffea00;border-radius:1em;}	
	.copyright{font-size:0.8em;}
	/**============== 导航菜单 ===========**/	
	.nav{width:180px;}
	.nav h3{padding:32px 0 15px 12px;font-size:1.571em;font-weight:normal;color:#fff;line-height:25px;}	
	.nav ul li{clear:both;}
	.nav ul li a{display:block;height:45px;padding:0 0 0 12px;line-height:45px;font-size:1em; background:url(../images/nav-320.png) no-repeat  right center; text-indent:0.3em;}
	.nav{right:-180px}
	.openMenu{right:180px;}
	.openNav{right:0;}
	/**================ 搜索 =============**/	
	.search{margin:10px auto 0;border-radius:15px;}
	.search .keywords{height:35px;font:1em/35px Microsoft Yahei;}
	.search .go{height:35px;background-size:19px 19.5px;}
	.search-warmp{ font-size:1em;}
	/**============ 栏目幻灯 =============**/
	.tab-news,.tab-size,.tab-di,.tab-xinqing{margin:10px 0 0 0;}
	.tab-hd-index li{height:45px;font-size:1.425em;line-height:45px}
	.tab-hd-index li a{height:45px;font-size:1.425em;line-height:45px}
	.list-index li a{ float:left;width:99%;background:url(../images/ico-tel20.png) right center no-repeat; height:45px;overflow:hidden;font-size:1.071em;line-height:45px;}
	/**=========== 底部栏目按钮 ===========**/

	.list-pic-index ul{padding:10px 0;}
	.list-pic-index li a{width:158px;height:54px;padding:5px;overflow:hidden;font-size:1.4em;line-height:19.5px;border-radius:5px;}
	.about li a{height:37px;line-height:37px;}	
	#gotop{width:41px;height:55px;right:0;bottom:95px;background-size:41px 55px;}

	/**=========== 内容页CSS =============**/
	.dh{font-size:1em; text-indent:0.5em; margin:0.5em 0.7em 0.5em 0.7em; background:#F0F0F0;border-radius:0.5em; padding-top:0.2em;color:#999;}
	.dh a{ font-weight:bold; text-decoration:none; font-size:1em;}
	.article{padding:10px;font-size:1.2em;}
	.article .article-con img{width:95%;height:auto !important;max-width:300px;}
}

.temperature{width:130px;height:26px;}
.remarks-l{height:60px; display: block; float: left}
.remarks{width:160px;height:60px;margin-top:10px;float: left}
.report_sub{width:35%;height:38px;margin:10px auto 10px 15%;}