<div class="copyright">
<p>{$web_config.site_footer|raw}</p>
</div>
</div>
<nav id="nav" class="nav home">
<h3><a href="{:url('index/index')}">快捷导航</a></h3>
    <div id="scrollerBox" class="scrollerBox">
        <div class="scroller">
            <ul>
                <li><a href="{:url('index/index/my')}">我的资料</a></li>
                <li><a href="{:url('index/index/get_qrcode')}">我的二维码</a></li>
                <li><a href="{:url('index/index/report')}">疫情上报</a></li>
                <li><a href="{:url('index/index/index')}#news">疫情公告</a></li>
                <li><a href="{:url('index/index/logout')}">退出系统</a></li>
            </ul>
        </div>
    </div>
</nav>
<script src="__CAOZHA-STATIC__/epacs/js/index.js"></script>
</body>
</html>