<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
<title>{$title} - {$web_config.site_name}</title>
<link rel="stylesheet" href="__CAOZHA-STATIC__/epacs/css/m.css" />
<script src="__CAOZHA-STATIC__/epacs/js/jquery.js"></script>
</head>
<body>
<div id="nav-over"></div>
<div id="warmp" class="warmp">
	<header class="header">
		<section class="fix navbar">
			<a class="ico-home" href="{:url('index/index')}"><span>首页</span></a>
			<h1 id="title">{$web_config.site_name}</h1>
			<span class="ico-nav navHome">导航</span>
		</section>
	</header>	
<div id="zizhi" class="fix honner-focus"></div>