<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查看 - Powered by __CAOZHA-SYS-NAME__ __CAOZHA-SYS-VERSION__</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__CAOZHA-LAYUIMINI__/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="__CAOZHA-LAYUIMINI__/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
    <script src="__CAOZHA-STATIC__/js/all.js"></script>
    <link rel="stylesheet" href="__CAOZHA-STATIC__/css/style.css" media="all">
</head>
<body>
<form class="layui-form layuimini-form caozha-view-form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户ID：</label>
        <div class="layui-input-block">
            {$user.user_id}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户类型：</label>
        <div class="layui-input-block">
            {$user.type}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">姓名：</label>
        <div class="layui-input-block">
           {$user.name}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属公司：</label>
        <div class="layui-input-block">
            {$user.company}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">身份证号：</label>
        <div class="layui-input-block">
            {$user.idcard}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">地址：</label>
        <div class="layui-input-block">
            {$user.address}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机：</label>
        <div class="layui-input-block">
            {$user.tel}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">账号状态：</label>
        <div class="layui-input-block">
            {$user.state|raw}
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            {$user.remarks}
        </div>
    </div>

</form>
</body>
</html>